<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Revenue / Expense</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="incomelist">
                <span class="bi bi-bag-plus-fill-nav-menu" aria-hidden="true"></span> Revenues
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="debtlist">
                <span class="bi bi-bag-dash-fill-nav-menu" aria-hidden="true"></span> Expenses
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="incomeDebtItems">
				<span> <Icon Name="IconName.List" Size="IconSize.x2" /> </span>
				Categories
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="reports">
                <span class="bi bi-graph-up-arrow-nav-menu" arial-hidden="true"></span>Reports
            </NavLink>
        </div>
    </nav>
</div>
